<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="FTest">
		<classes>
			<class name="Test.FirstClass" />
			<class name="Test.SecondClass" />
			<class name="Test.ThirdClass" />

		</classes>
	</test> <!-- Test -->
	<test name="Place">
		<classes>
			<class name="Test.ForthClass" />
		</classes>
	</test>
</suite> <!-- Suite -->
